*.prefs
*.lst
*.classpath
*.pmd
*.project
target/
.settings/
.metadata/
.sonarlint
*.iml
snippets-examples/robot-snippet-3270/.idea/.name
snippets-examples/robot-3270-snippet/.idea/.name
snippets-libraries/snippet-credentials/.idea/compiler.xml
snippets-libraries/snippet-credentials/.idea/misc.xml
snippets-libraries/snippet-credentials/.idea/modules.xml
snippets-libraries/snippet-credentials/.idea/vcs.xml
snippets-low-code/snippet-ibm-3270-library/.idea/compiler.xml
snippets-low-code/snippet-ibm-3270-library/.idea/encodings.xml
snippets-low-code/snippet-ibm-3270-library/.idea/jarRepositories.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_12_1.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_12_1.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_12_1.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__com_github_mmarquee_ui_automation_jidoka_0_5_1.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__com_novayre_jidoka_module_jidoka_client_api_7_6_0.xml
snippets-low-code/snippet-ibm-3270-library/.idea/vcs.xml
snippets-low-code/snippet-ibm-3270-library/.idea/modules.xml
snippets-low-code/snippet-ibm-3270-library/.idea/misc.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__org_jodd_jodd_mail_5_0_13.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__org_jodd_jodd_core_5_0_13.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__org_apache_commons_commons_text_1_3.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_7.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__net_java_dev_jna_jna_platform_4_5_1.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__net_java_dev_jna_jna_4_5_1.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__junit_junit_4_11.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__jakarta_mail_jakarta_mail_api_1_6_3.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__com_sun_mail_jakarta_mail_1_6_3.xml
snippets-low-code/snippet-ibm-3270-library/.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_1.xml
