<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appender para la salida por consola -->
	<appender name="R" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d|%p|%c.%M:%L|%m|%.15t|%r|%x%n" />
		</layout>
	</appender>

	<category name="com.novayre.jidoka">
		<level value="DEBUG"></level>
	</category>

	<root>
		<level value="${log4j.root}" />
		<appender-ref ref="R" />
	</root>
</log4j:configuration>
